@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

.greek {
  font-family: "GFS Didot", italic;

}

.App{
  background-image: url(./images/meander.svg);
  background-repeat: repeat;
  background-size: 50px; 
  /* background-position: top, bottom; */
  min-height: 1000px;
  height: auto;
  background-color: #eef6ff;
  overflow-y: scroll;
}